<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lnu.recruitment.modules.company.mapper.CompanyMapper">

    <update id="updateStatus">
        update t_company
        set verification = #{verification}
        where id = #{id}
    </update>
    <select id="queryAllUnchecked" resultType="edu.lnu.recruitment.modules.company.entity.Company">
        select *
        from t_company
        where verification = 0
    </select>

    <select id="getCompanyStatusByRecruiterId" resultType="java.lang.Byte">
        select t1.status
        from t_company as t1, t_recruiter as t2
        where t1.id = t2.company_id
        and t2.id = #{recruiterId}
    </select>
</mapper>